@charset "utf-8";
/* CSS Document */

.main {
    text-align: center, justify;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutusheader{
    text-align: justify;
    margin-left: auto;
}